:root{
    --primary: purple;
    --light: white;
    --dark: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navi{
    align-items: center;
    
   
}



nav{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom:  3px solid var(--primary);

}

.title{
    color: white;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hamburger{
    display: block;
    position: relative;
    z-index:1;
    user-select: none;
    appearance: none;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translatex(10px);
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translatex(15px);

}



.menu{
    display:none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0px -16px;


}

.menu a {
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover {
    background-color: var(--primary);

}
@media(min-width: 768px){
    .hamburger{
        display: none;
    }
    .menu{
        display: flex;
    }
}




.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 0px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    
    
}

h2{
    font-size: 100px;
    
}

h3{
    font-size: 50px;
    color: purple;
    
}

.men a {
    color: white;
    margin: 0 16px;
    font-size: small;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
    text-align: center;
    
    
}

.men a.is-active, .men a:hover {
    background-color: var(--primary);
}

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 500px;
      margin: auto;
      margin-bottom: 300px;
      text-align: center;
      font-family: arial;
      background-color: #353333;
      border:  1px solid var(--primary);
      color: white;
    }
    
    .price {
      color: white;
      font-size: 22px;
    }
    
    .card button {
        /* border:  1px solid var(--primary); */
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    .card button.is-active, .card button:hover {
        background-color: var(--primary);
    }




.dropbtn{
    background-color: var(--dark);
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border: none;
    border-radius: 99px;
    font-size: inherit;
}

.dropdown {
  
    position: inherit;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color:var(--primary);}
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: var(--primary);
  }




.footer{
    
    padding: 20px 0;
    background-color: #222121;
    border-top:  3px solid var(--primary);
    position: fixed;
    margin-top: 15px;
    height: 50 ;
    width: 100%;
    text-align: center;
    bottom: 0;
  
    
}

.foot{
    position: fixed;
    padding: 20px 0;
    background-color: #222121;
    border-top:  3px solid var(--primary);
    margin-top: 100px;
    margin-bottom: 0px;
    height: 17% ;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.foot .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
    
}

.foot .social a{
    font-size: 20px;
    color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 0.75;
    background-color: var(--primary);
    
  
    

}



.foot .social a:hover{
    opacity: 0.9;
}

.foot ul{
    margin-top: 0;
    padding: 8px 16px;
    list-style: none;
    font-size: 18px;
    line-height: 1.6 ;
    margin-bottom: 0;
    text-align: center;
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 99px;
    
}

.foot ul li a{
    
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    border-radius: 99px;
    padding: 8px 16px;
}





.foot ul li a.is-active, .foot ul li a:hover {
    background-color: var(--primary);
    border-radius: 99px;
    transition: 0.4s;
}
.foot ul li{
    display: inline-block;
    padding: 0 15px;


}

.foot ul li a{
    opacity: 1;

}

.foot .copyright{
    
    text-align: center;
    font-size: 13px;
    color: white;
    background-color: #222121;
    margin-top: 6px;
    margin-bottom: 0px;
    height: 50 ;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.aboutus{
    margin-bottom: 100px;
    text-align: center;
    background: url('programando.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.aboutus p{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}

.aboutus h1{
    font-size: 28px;
}

.cardab{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 500px;
      margin: auto;
      text-align: center;
      font-family: arial;
      background-color: #353333;
      border:  1px solid var(--primary);
      color: white;
    
}

.cardab:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerab{
    padding: 2px 16px;
    
}

.cardab2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 100%;
      margin: auto;
      text-align: left;
      font-family: arial;
      background-color: #353333;
      border:  1px solid var(--primary);
      color: white;
    
}

.cardab2:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerab2{
    padding: 2px 16px;
    width:100%
    
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
    
}

.footer .social a{
    font-size: 24px;
    color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    background-color: var(--primary);
    
  
    

}



.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 8px 16px;
    list-style: none;
    font-size: 18px;
    line-height: 1.6 ;
    margin-bottom: 0;
    text-align: center;
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 99px;
    
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    border-radius: 99px;
    padding: 8px 16px;
}





.footer ul li a.is-active, .footer ul li a:hover {
    background-color: var(--primary);
    border-radius: 99px;
    transition: 0.4s;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;


}

.footer ul li a{
    opacity: 1;

}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;

    position: relative;
    padding: 20px 0;
    background-color: #222121;
    margin-top: 15px;
    margin-bottom: 0px;
    height: 50 ;
    width: 100%;
    text-align: center;
    bottom: 0;
}
   

/* #store */

.storebody{
    background-color: rgb(173, 166, 166);
   margin-top: 150px;
   margin-bottom: 150px;
       
    
}

.col{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #353333;
    color: white;
    background-color: #4b4c4d;
    height: auto;
    border-radius: 50px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-auto-rows:minmax(150px,auto);
    grid-gap:10px;
    max-width:960px;
    margin:0 auto;
    
}


.thumbnail{
    width:80%;
    height: auto;
    margin: 10px;
    border-radius: 50px;
}



  .b {
    font-size: 20px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.a{
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 99px;
}

.a:hover{
    background-color: var(--primary);
}


.loginbody{
    background-image: url(purple.jpg);
    margin-top: 300px;
    margin-bottom: auto;
    text-align: center;

}

.registerbody{
    background-image: url(purple.jpg);
    margin-top: 300px;
    margin-bottom: auto;
    text-align: center;
    align-items: auto;
}
.loginform{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #353333;
    border:  1px solid var(--primary);
    color: white;
    
}

.logout{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
   width: 500px;
    height: 150px;
    background: #222121;
    text-align: center;
    align-items: center;
    color: antiquewhite;

}

.logoutbtn{
    border-radius: 99px;
    color: antiquewhite;
    background-color: var(--dark);
    font-weight: 300;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border: none;
    border-radius: 99px;
    

}

.logoutbtn:hover {
    background-color:var(--primary);
}




.cart-row{
  
	display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    text-align: center;
    
} 

.colu{
    background-color: rgb(173, 166, 166);
    margin-top: 150px;
    margin-bottom: 10%;
    text-align: center;
        
     

}

.cartbody{
    background-color: rgb(173, 166, 166);
    margin-top: 150px;
    margin-bottom: 150px;
        
}


.product{
    background-color: rgb(173, 166, 166);
    margin-bottom: 150px;
    
    text-align: center;
    align-items: center;
}

.product-container{
    margin-top: 150px;
    margin-bottom: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin-left: 750px;
    text-align: center;
    font-family: arial;
    background-color: red;
    color: white;
    background-color: #4b4c4d;
    height: auto;
    border-radius: 50px;
    
   
}

.productpic{
    width:50%;
    height: auto;
    margin-top: 10px;
    border-radius: 50px;
}

.cartbtn{
    outline: 0;
    padding: 13px;
    color: white;
    background-color: #000;
    cursor: pointer;
    
    font-size: 18px;
    border-radius: 99px;
}

.probtn{
    outline: 0;
    padding: 13px;
    color: black;
   
    cursor: pointer;
    
    font-size: 18px;
    border-radius: 99px;
}

.body-prueba{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #dcdcdc;
    margin-bottom: 300px;
    margin-top: 200px;
}

.container-prueba{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.container-prueba .card-prueba{
    width: 100%;
    background: white;
}

.container-prueba .card-prueba .image-prueba{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.container-prueba .card-prueba .image-prueba img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.container-prueba .card-prueba:hover .image-prueba img{
    transform: scale(1.5);
}

.container-prueba .content-prueba{
    padding: 10px;
}

.container-prueba .card-prueba .content-prueba .productname-prueba p{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin: 5px 0;
}

.container-prueba .card-prueba .content-prueba .price-prueba {
    font-size: 20px;
    color: #ff2020;
    font-weight: 500;
}

.container-prueba .card-prueba .content-prueba .price-prueba .fa{
    color: #ffd513;
    cursor: pointer;
}

.container-prueba .card-prueba .content-prueba .price-prueba .fa.grey{
    color: #ccc;
}